<html>
  <head>
    <style>
    body { background: <%= color %>; }
    .faint { color: rgba(255,255,255,.3)}
    p { margin-left: auto;
        margin-right: auto;}
    </style>
  </head>
  <body>
    <p class="red">
      your guess of <%= guess %> was <%= compare %>
    </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!' />
    </form>
    <p class = "faint"><%= cheat %></p>
  </body>
</html>
